* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  background-color: #015668;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: auto;
}

.navlist {
  color: white;
  margin: 0 18px;
  font-size: 20px;
  font-weight: 400;
}